<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ionicframework.schmilclick760599" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>schmilclick</name>
    <description>
        An Ionic Framework and Cordova project.
    </description>
    <author email="you@example.com" href="http://example.com/">
      Your Name Here
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="ShowSplashScreenSpinner" value="false"/>
    <preference name="SplashScreenDelay" value="2000" />
    <preference name="android-minSdkVersion" value="16" />
    <preference name="BackupWebStorage" value="none" />
    <preference name="SplashScreen" value="screen" />
    <feature name="StatusBar">
        <param name="ios-package" onload="true" value="CDVStatusBar" />
    </feature>
    <platform name="ios">
        <!--
        <icon  src="resources/icon.png" width="100%" />
        -->
        <splash src="resources/screen/ios/Default@2x~universal~anyany.png" />
    </platform>
    <platform name="android">
        <!--
        <icon src="resources/icon.png" width="100%" />
        -->
        <splash src="resources/screen/android/Default@2x~universal~anyany.png" />
    </platform>
    <plugin name="cordova-plugin-contacts" spec="~2.3.0">
        <variable name="CONTACTS_USAGE_DESCRIPTION" value=" " />
    </plugin>
</widget>
